.cliets-list {
  display: $flex;
  justify-content: space-around;
  a {
    color: $clientsColor;
    width: 170px;
    height: 90px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid $clientsColor;
    display: $flex;
    justify-content: center;
    align-items: center;
    transition: $cubicAllAnimation;
    &:hover {
      border: 1px solid $hoverColor;
    }
  }
}
