.cliets-list {
  justify-content: space-around;
  a {
    color: $clientsColor;

    height: 90px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid $clientsColor;

    justify-content: center;
    align-items: center;
    transition: $cubicAllAnimation;
    &:hover {
      border: 1px solid $hoverColor;
    }
  }
}
