body {
  color: $mainColor;
  background-color: $bgColor;
  font-family: $bodyFont;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  text-align: $textAlign;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

h3 {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  text-align: $textAlign;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  .title {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: $textAlign;
  letter-spacing: 0.03em;
  display: $flex;
  justify-content: center;
  margin-bottom: 34px;
  .item + .item {
    margin-left: 8px;
  }
}

.btn {
  color: $bgColor;
  display: $disInblock;
  padding: 10px 32px;
  min-width: 200px;
  background-color: $hoverColor;
  border-radius: 6px;
  text-align: $textAlign;
  border: 1px solid transparent;
  transition: $cubicAllAnimation;

  &:hover,
  &:focus {
    border-color: $hoverColor;
    color: $hoverColor;
    background-color: $bgColor;
  }
}
.text {
  margin-top: 0;
  margin-bottom: 0;
}
.street {
  margin-top: 0;
  margin-bottom: 0;
}
.tel-link {
  display: inline-block;
}
.header-tel {
  width: 10px;
  height: 15px;
}
.subscribe {
  width: 570px;
  height: 86px;
  &-form {
    display: $flex;
    justify-content: space-between;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: $cubicAllAnimation;
}
.backdrop.is-hidden {
  opacity: 0;
  transform: scale(2);
  pointer-events: none;
}
