.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 480px) {
    width: 480px;
  }

  .qualities-list {
    align-items: center;
  }
  & nav {
    align-items: center;
  }

  .qualities-section & {
    padding-bottom: 94px;
    border-bottom: 1px solid #ececec;
  }
}
