.footer {
  background-color: $footerColor;
  padding-top: 48px;
  padding-bottom: 20px;
  &-adress .street {
    color: $bgColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &-adress > a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footerSecColor;
  }
  &-adress > b {
    color: $bgColor;
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .copyright {
    font-size: 12px;
    line-height: 2;
    text-align: $textAlign;
    letter-spacing: 0.03em;
    color: $footerSecColor;
  }
  b {
    display: $disInblock;
    margin-bottom: 21px;
    color: $bgColor;
  }
}

.footer-container {
  display: $flex;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid $footerSecColor;
  padding-bottom: 28px;
  justify-content: space-between;
  align-items: baseline;
}

.footer-adress {
  p {
    margin-bottom: 9px;
  }
  .link {
    display: $disInblock;
    margin-bottom: 9px;
  }
}

.footer-connect {
  display: $flex;
  justify-content: space-around;
  a {
    color: $bgColor;
    width: 44px;
    height: 44px;
    display: $flex;
    justify-content: center;
    align-items: center;
    background-color: $footerSecColor;
    border-radius: 50% 50%;
    transition: $cubicAllAnimation;
  }
  li:nth-child(2) {
    margin-left: 12px;
  }
  li:nth-child(3) {
    margin-left: 12px;
  }
  li:nth-child(4) {
    margin-left: 12px;
  }
  a:hover {
    color: $bgColor;
    background-color: $hoverColor;
    border-radius: 50% 50%;
  }
}
