.social-links {
  display: $flex;
  justify-content: space-around;
  margin-bottom: 24px;
  a {
    width: 44px;
    height: 44px;
    color: #afb1b8;
    display: $flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50%;
    transition: $cubicAllAnimation;
    &:hover {
      color: $bgColor;
      background-color: $hoverColor;
      border-radius: 50% 50%;
    }
  }
}
