.we-doing-list {
  display: $flex;
  .item {
    color: $bgColor;
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 1.14;
    text-align: $textAlign;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 370px;
  }
  .item + .item {
    margin-left: 30px;
  }
  &-img {
    position: relative;
  }
  & img {
    display: $disBlock;
    width: 370px;
  }
  &-title {
    position: $posA;
    bottom: 0;
    left: 0;
    width: 370px;
    font-size: 14px;
    padding: 27px 87px;
    text-align: $textAlign;
    white-space: nowrap;
    background: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
