$mainColor: #212121;
$bodyFont: "Roboto", sans-serif;
$bgColor: #ffffff;
$clientsColor: #afb1b8;
$footerColor: #2f303a;
$portfolioColor: #2196f3e6;
$footerSecColor: rgba(255, 255, 255, 0.1);
$qualColor: #454545;
$blackColor: black;
$hoverColor: #2196f3;
$secondaryColor: #212121;
$fontSize: 36px;
$fontWeight: 700;
$lineHeight: 1.16;
$textAlign: center;
$cubicColorAnimation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$cubicAllAnimation: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
$disBlock: block;
$disInblock: inline-block;
$posA: absolute;
$currCol: currentColor;
$translateY: translateY(-50%);
$SectionPadd: 94px;
$logoFont: "Raleway", sans-serif;
$flex: flex;
$shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
$buttonShadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 3px 1px rgba(0, 0, 0, 0.1);
$mailShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$modalShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
